<header>
    
    <div class="contents-area">
            <!-- begin header-left -->
            <div class="header-left"><a href="/"><img src="{{ '/static/v2/img/logo-top.png' | relative_url }}" alt="로고"></a></div>
            <!-- // end header-left -->

            <!-- begin header-right -->
            <div class="header-right">
                  <span class="user-nm">영업팀 | 홍길동님 로그인</span>
                  <button class="btn btn-logout" onclick="fnLogout()">로그아웃</button>

            </div>
            <!-- // end header-right -->
    </div>
</header>

<script type="text/javascript">
// 로그아웃
function fnLogout() {
   location.href = '/logout.do';
}
</script>
