---
layout: layout
title: 예약 현황 상세
---

<!--popup-->
<div id="popupReservationStatus" class="modalPopup hide" style="width: 900px">
  <div class="modal-header"><h1>예약 현황 상세</h1></div>
  <div class="modal-body">
    <div class="popup-title-info">
      <span class="split" id="pengagYmsTxt">2025-06-18</span>
      <span class="font-size-12 mrg-left-10">총 <span id="sectionNumber">3</span>건 예약</span>
    </div>
    <!-- begin table -->
    <div class="row">
      <div class="table-result">
        총 <strong class="split" id="dailyTotCnt">3</strong>
        <select class="search-limit" id="dailyPageSize">
          <option value="5" selected>5개씩 보기</option>
          <option value="10">10개씩 보기</option>
          <option value="20">20개씩 보기</option>
          <option value="30">30개씩 보기</option>
        </select>
      </div>
      <div class="table-responsive" style="height:231px;">
        <table class="table table-hover">
          <colgroup>
            <col width="60" />
            <col width="*" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="80" />
          </colgroup>
          <thead>
            <tr>
              <th>No.</th>
              <th>발송명</th>
              <th>메시지 유형</th>
              <th>부서</th>
              <th>등록자</th>
              <th>건수</th>
              <th>시간</th>
            </tr>
          </thead>
          <tbody id="dailyGrid">
            <tr>
              <td>1</td>
              <td>주간보고</td>
              <td>SMS</td>
              <td>총무부</td>
              <td>홍길동</td>
              <td>2</td>
              <td>10:00</td>
            </tr>
            <tr>
              <td>2</td>
              <td>회의공지</td>
              <td>MMS</td>
              <td>기획부</td>
              <td>김유신</td>
              <td>1</td>
              <td>14:30</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <ul class="twbsPagination"></ul>
      </div>
    </div>
    <!-- end Table -->
  </div>
  <div class="modal-footer">
    <a href="javascript:;" class="btn btn-border-sub1 popupReservationStatus_close" >닫기</a>
  </div>
  <input type="hidden" value="20250618" id="pengagYms"/>
</div>
<!--//popup-->

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("dailyPageSize").addEventListener("change", function () {
      alert("페이지 사이즈 변경 예시: " + this.value);
    });
  });
</script>
