<!-- 검색-팝업 : 직원 / 영업점 / 지역소속 조회 -->
<div class="popup_wrap" id="search-dialog" style="display:none">
  <!-- top ---------------------------------------------------- -->
  <div class="top">
    <div class="title">수신인 검색</div>
    <div class="btn_close">
      <a href="javascript:;" class="popup-close">
        <img src="{{ '/static/images/btn_pop_close.png' | relative_url }}" alt="닫기">
      </a>
    </div>
  </div>

  <!-- content ------------------------------------------------ -->
  <div class="content_pop">
    <!-- 조건 영역 -->
    <div class="wrap_search mgt10">
      <!-- 검색어 -->
      <input type="text" id="search-word" placeholder="이름 / 번호 입력" style="width:180px">
      <a href="javascript:;" class="btn_default gray" id="search-btn">검색</a>

      <!-- 안내문 -->
      <div class="info mgt8">
        * 이름・휴대폰번호(’-’ 제외) 로 검색할 수 있습니다.<br>
        * 전직원 / 지역 / 영업점 검색은 본문에서 라디오버튼을 먼저 선택하세요.
      </div>
    </div>

    <!-- 결과 리스트 -->
    <div class="tbl_wrap_list mgt15" style="height:300px;overflow-y:auto;">
      <table class="tbl_list" id="search-result-table" summary="검색 결과 테이블">
        <caption>검색 결과</caption>
        <colgroup>
          <col style="width:30px">
          <col style="width:120px">
          <col style="width:150px">
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><input type="checkbox" id="search-select-all"></th>
            <th scope="col">이름</th>
            <th scope="col">휴대폰번호</th>
          </tr>
        </thead>
        <tbody><!-- JS 로 행이 주입됩니다 --></tbody>
      </table>
    </div>
  </div><!-- /.content_pop -->

  <!-- footer ------------------------------------------------- -->
  <div class="footer_pop">
    <a href="javascript:;" class="btn_big blue"  id="search-add-btn">추가</a>
    <a href="javascript:;" class="btn_big gray  popup-close">취소</a>
  </div>
</div>
<script>
function showSearch(type, boCode) {		
	initData(type, boCode); //수신인 검색
	
	$("#btn_search_close").off('click').on('click', function () {
		$("#search-modal").dialog("close");
	});
	  
	$("#btn_search_cancel").off('click').on('click', function () {
		$("#search-modal").dialog("close");
	});
	  
	//확인 버튼 이벤트
	$("#btn_search_ok").off('click').click(function() {
		var addrs = $("#sms-search-rej input[name=chk]:checked");
	  	if (addrs.length > 0) {
	  		addrs.each(function(){
	  			var name = $(this).parent().find("label").text();
	  			var phone = $(this).parent().find("#phone").text();
	  			
	  			addTarget(name, phone);// 수신번호 목록에 등록
	  		});
	  		addReceiverCount();//수신번호 총 갯수 갱신
		} else {
			showAlert("선택된 연락처가 없습니다.");
		}
	  	$("#search-modal").dialog("close");
	});
    
    
    $("#search-modal").dialog({
		modal: true,
		width: "500px",
		open: function () {
		$(this).css('padding', '0px');
		},
	});
    $(".ui-dialog-titlebar").hide();
}
</script>
