<script src="{{ '/static/v2/js/jquery-3.2.1.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/sweetalert.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/jquery-dateformat.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/jquery.twbsPagination.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/jquery.popupoverlay.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/jquery-ui.min.js' | relative_url }}"></script>
<!-- style_v2.html -->
<link rel="stylesheet" href="{{ '/static/v2/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/v2/css/animate.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/v2/css/sweetalert.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/v2/css/NanumGothic.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/v2/css/font-awesome/css/font-awesome.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/v2/css/custom.css' | relative_url }}">

<script src="{{ '/static/js/datatables.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/jquery.number.js' | relative_url }}"></script>

<script src="{{ '/static/v2/js/moment.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/moment-with-locales.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/daterangepicker.js' | relative_url }}"></script>
<link rel="stylesheet" href="{{ '/static/v2/css/daterangepicker.css' | relative_url }}">

<script src="{{ '/static/v2/js/polyfill.min.js?features=Array.prototype.find,Promise,Object.assign' | relative_url }}"></script>
<script src="{{ '/static/v2/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/tippy-bundle.umd.min.js' | relative_url }}"></script>

<script src="{{ '/static/v2/js/jquery.validate.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/additional-methods.min.js' | relative_url }}"></script>

<script src="{{ '/static/v2/js/jquery.toast.min.js' | relative_url }}"></script>
<link rel="stylesheet" href="{{ '/static/v2/css/jquery.toast.min.css' | relative_url }}">

<script src="{{ '/static/v2/js/slick.min.js' | relative_url }}"></script>
<link rel="stylesheet" href="{{ '/static/v2/css/slick.css' | relative_url }}">

<script src="{{ '/static/v2/js/custom.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/tooltip.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/common/constants.js' | relative_url }}"></script>
