---
layout: null
---
<!-- login.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>메시지센터 로그인</title>
  <link href="{{ '/static/images/favicon.ico' | relative_url }}" rel="shortcut icon">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/static/v2/css/common.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/static/css/jquery-ui.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/static/css/datatables.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/static/css/default.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/static/css/login.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/static/css/table.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/static/css/summernote-lite.css' | relative_url }}">

  <!-- JavaScript -->
  <script src="{{ '/static/js/jquery.3.3.1.js' | relative_url }}"></script>
  <script src="{{ '/static/js/jquery-ui.min.js' | relative_url }}"></script>
  <script src="{{ '/static/js/moments.js' | relative_url }}"></script>
  <script src="{{ '/static/js/jquery.number.js' | relative_url }}"></script>
  <script src="{{ '/static/js/jquery.bpopup-min.js' | relative_url }}"></script>
  <script src="{{ '/static/js/article-hide.js' | relative_url }}"></script>
  <script src="{{ '/static/js/common/sha256.js' | relative_url }}"></script>
  <script src="{{ '/static/js/common/zoom.js' | relative_url }}"></script>
  <script src="{{ '/static/js/datatables.min.js' | relative_url }}"></script>
  <script src="{{ '/static/v2/js/buttons.html5.min.js' | relative_url }}"></script>
  <script src="{{ '/static/v2/js/buttons.print.min.js' | relative_url }}"></script>
  <script src="{{ '/static/v2/js/dataTables.button.js' | relative_url }}"></script>
  <script src="{{ '/static/v2/js/jszip.js' | relative_url }}"></script>
  <script src="{{ '/static/v2/js/vfs_fonts.js' | relative_url }}"></script>
  <script src="{{ '/static/v2/js/jquery.slimscroll.min.js' | relative_url }}"></script>
  <script src="{{ '/static/v2/js/common.js' | relative_url }}"></script>
  <script src="{{ '/static/js/sha256.js' | relative_url }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    if (typeof jQuery === 'undefined') {
	document.write('<script src="{{ site.baseurl }}/static/js/jquery.min.js"><\/script>');
    }
  </script>
</head>
<body>
<!-- wrap_login -->
<div class="weap_Event_Login">
    <div class="box_login" style="width: auto;">
        <div class="logo_login">
            <h1><img src="{{ site.baseurl }}/static/images/logo_login.png" alt="UMS" /></h1>
            <span class="title">메시지센터</span>
        </div>
        <div class="boxlogin">
            <div class="title">LOGIN</div>
            <div class="text1">서비스 이용을 위해 로그인을 해주세요.</div>
            <div class="fieldbox">
	            <form id="allmsgForm" method="post" action="javascript:void(0);">
	                <div class="col1" id="div_idpw">
	                    <input class="id" type="text" name="event_id" value="" placeholder="아이디">
	                    <input class="password" type="password" name="event_pwd" value="" placeholder="비밀번호">
	                    <input type="hidden" name="event_pw" value="" >
						<input type="hidden" name="login_method" value="idpw" >	                    
	                </div>
	                <div class="col2">
                        <a href="javascript:;" id="btn_event_login">
                          <img src="{{ site.baseurl }}/static/images/btn_login.png" alt="로그인" />
                        </a>
                    </div>
	            </form>
            </div>
            <div class="copyright">Copyright 2018. All rights reserved.</div>
        </div>
    </div>
</div>
<!-- //wrap_login -->
<script src="{{ '/static/js/tabcontent.js' | relative_url }}"></script>
<script src="{{ '/static/js/messageUtil.js' | relative_url }}"></script>
<script src="{{ '/static/js/UmsValidation.js' | relative_url }}"></script>
<script src="{{ '/static/js/UmsInitData.js' | relative_url }}"></script>
<script src="{{ '/static/js/UmsZoomInOut.js' | relative_url }}"></script>
<script src="{{ '/static/js/common/sha256.js' | relative_url }}"></script>


{% include messageDialog.html %}
{% include loading.html %}
	
<script>
function showAlert(message, callback) {
    alert(message);
    if (typeof callback === "function") callback();
}
</script>

<script>
$(document).ready(function(){
    $(".weap_Event_Login").parents("section").find("aside").hide(); // 이 부분은 DOM 구조에 따라 무효일 수 있음

    // 에러 메시지 처리 (하드코딩)
   // const errorMsg = ""; // 예: "비밀번호가 틀렸습니다."
   // if(errorMsg !== '') showAlert(errorMsg);

	$("#btn_event_login").on("click", function() {
		const id = $("input[name=event_id]").val().trim();
		const pw = $("input[name=event_pwd]").val().trim();

		if (id === '') {
			showAlert("아이디를 입력해주세요.");
			return false;
		}

		if (pw === '') {
			showAlert("비밀번호를 입력해주세요.");
			return false;
		}

		// 실제 로그인 없이 바로 메인 페이지로 이동
		location.href = "reservationStatus-list.html";
	});


    $("input[name=event_pwd]").keypress(function (event) {
        if (event.which == 13) {
            $("#btn_event_login").trigger("click");
        }
    });
});
</script>

</body>
</html>
