---
layout: layout
---
{% include style_v2.html %}
<!-- begin page-header -->
<div class="page-header">
    예약 현황
    <ol class="breadcrumb pull-right"></ol>
</div>
<!-- end page-header -->

<!-- begin table -->
<div class="row mrg-top-20">
  <!-- 왼쪽: 달력 -->
  <div class="width-70 pull-left">
    <div class="calendar-inner-table" id="monCalendar">
      <div class="hd">
        <a href="javascript:void(0)" class="btn-prev-month" onclick="moveMonth('prev')"></a>
        <span class="calYear">2025</span>년
        <span class="calMonth">06</span>월
        <a href="javascript:void(0)" class="btn-next-month" onclick="moveMonth('next')"></a>
      </div>
      <div class="calendar-inner-table">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th>
            </tr>
          </thead>
          <tbody>
            <!-- 예시 셀 -->
            <tr>
              <td><div id="calendar_20250601" class="notWork" value="20250601">1</div></td>
              <td><div id="calendar_20250602" class="notWork" value="20250602">2</div></td>
              <td><div id="calendar_20250603" class="notWork" value="20250603">3</div></td>
              <td><div id="calendar_20250604" class="notWork" value="20250604">4</div></td>
              <td><div id="calendar_20250605" class="notWork" value="20250605">5</div></td>
              <td><div id="calendar_20250606" class="notWork" value="20250606">6</div></td>
              <td><div id="calendar_20250607" class="notWork" value="20250607">7</div></td>
            </tr>
            <tr>
              <td><div id="calendar_20250608" class="notWork" value="20250608">8</div></td>
              <td><div id="calendar_20250609" class="notWork" value="20250609">9</div></td>
              <td><div id="calendar_20250610" class="notWork" value="20250610">10</div></td>
              <td><div id="calendar_20250611" class="notWork" value="20250611">11</div></td>
              <td><div id="calendar_20250612" class="notWork" value="20250612">12</div></td>
              <td><div id="calendar_20250613" class="notWork" value="20250613">13</div></td>
              <td><div id="calendar_20250614" class="notWork" value="20250614">14</div></td>
            </tr>
            <tr>
              <td><div id="calendar_20250615" class="notWork" value="20250615">15</div></td>
              <td><div id="calendar_20250616" class="notWork" value="20250616">16</div></td>
              <td><div id="calendar_20250617" class="notWork" value="20250617">17</div></td>
              <td><div id="calendar_20250618" class="today" value="20250618">18</div></td>
              <td><div id="calendar_20250619" class="notWork" value="20250619">19</div></td>
              <td><div id="calendar_20250620" class="notWork" value="20250620">20</div></td>
              <td><div id="calendar_20250621" class="notWork" value="20250621">21</div></td>
            </tr>
            <tr>
              <td><div id="calendar_20250622" class="notWork" value="20250622">22</div></td>
              <td><div id="calendar_20250623" class="notWork" value="20250623">23</div></td>
              <td><div id="calendar_20250624" class="notWork" value="20250624">24</div></td>
              <td><div id="calendar_20250625" class="notWork" value="20250625">25</div></td>
              <td><div id="calendar_20250626" class="notWork" value="20250626">26</div></td>
              <td><div id="calendar_20250627" class="notWork" value="20250627">27</div></td>
              <td><div id="calendar_20250628" class="notWork" value="20250628">28</div></td>
            </tr>
            <tr>
              <td><div id="calendar_20250629" class="notWork" value="20250629">29</div></td>
              <td><div id="calendar_20250630" class="notWork" value="20250630">30</div></td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- 오른쪽: 시간대별 예약 -->
  <div class="width-28 pull-right" id="hourly_reservation_list">
    <h2 class="hour-reservation-title">시간대별 예약 내역</h2>

    <div class="hour-reservation-area">
      <h3>오늘(2025.06.18)</h3>
      <div class="hour-reservation-box">
        <div><p>10:00</p><p>2건</p></div>
        <div><p>14:30</p><p>1건</p></div>
      </div>
    </div>

    <div class="hour-reservation-area">
      <h3>내일(2025.06.19)</h3>
      <div class="hour-reservation-box">
        <div><p>11:00</p><p>1건</p></div>
      </div>
    </div>

    <div class="hour-reservation-area">
      <h3>모레(2025.06.20)</h3>
      <div class="hour-reservation-box">
        <div></div><div><p>예약 내역 없음</p></div>
      </div>
    </div>
      
  </div>
</div>
<!-- end table -->

<!-- JSP 파일 그대로 변환된 HTML include -->
{% include reservationSelectDay-list.html %}


<link href="{{ '/static/images/logo-top.png' | relative_url }}" rel="logo-top">

<!-- 기존 JS 및 CSS 적용을 위한 링크 추가 -->
<link rel="stylesheet" href="{{ '/static/css/default.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/table.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/jquery-ui.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/datatables.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/login.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/summernote-lite.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/v2/css/common.css' | relative_url }}">

<script src="{{ '/static/js/jquery.3.3.1.js' | relative_url }}"></script>
<script src="{{ '/static/js/jquery-ui.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/moments.js' | relative_url }}"></script>
<script src="{{ '/static/js/jquery.number.js' | relative_url }}"></script>
<script src="{{ '/static/js/jquery.bpopup-min.js' | relative_url }}"></script>
<script src="{{ '/static/js/article-hide.js' | relative_url }}"></script>
<script src="{{ '/static/js/common/sha256.js' | relative_url }}"></script>
<script src="{{ '/static/js/datatables.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/buttons.html5.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/buttons.print.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/dataTables.button.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/jszip.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/vfs_fonts.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/jquery.slimscroll.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/common.js' | relative_url }}"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('[data-calendar-id]').forEach(function (el) {
      el.addEventListener("click", function () {
        alert("예약 상세 팝업 예시입니다: " + el.getAttribute("data-calendar-id"));
      });
    });
  });
</script>
