---
layout: layout
---
{% include style_v2.html %}
<!-- begin page-header -->
<div class="page-header">
    예약 현황
    <ol class="breadcrumb pull-right"></ol>
</div>
<!-- end page-header -->

<!-- begin table -->
<div class="row mrg-top-20">
    <div class="width-70 pull-left">
        <div class="calendar-inner-table" id="monCalendar">
            <div class="calendar-day">
                <div class="date">2025-06-18</div>
                <div class="calendar_cnt" data-calendar-id="20250618/3">예약 3건</div>
                <div class="calendar_cnt" data-calendar-id="20250619/1">예약 1건</div>
            </div>
        </div>
    </div>
    <div class="width-28 pull-right" id="hourly_reservation_list">
        <h2 class="hour-reservation-title">시간대별 예약 내역</h2>
        <div class="hour-reservation-area">
            <h3>오늘(2025.06.18)</h3>
            <div class="hour-reservation-box">
                <div><p>10:00</p><p>2건</p></div>
                <div><p>14:30</p><p>1건</p></div>
            </div>
        </div>
        <div class="hour-reservation-area">
            <h3>내일(2025.06.19)</h3>
            <div class="hour-reservation-box">
                <div><p>11:00</p><p>1건</p></div>
            </div>
        </div>
    </div>
</div>
<!-- end table -->

<!-- JSP 파일 그대로 변환된 HTML include -->
{% include reservationSelectDay-list.html %}


<link href="{{ '/static/images/logo-top.png' | relative_url }}" rel="logo-top">

<!-- 기존 JS 및 CSS 적용을 위한 링크 추가 -->
<link rel="stylesheet" href="{{ '/static/css/default.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/table.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/jquery-ui.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/datatables.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/login.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/summernote-lite.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/v2/css/common.css' | relative_url }}">

<script src="{{ '/static/js/jquery.3.3.1.js' | relative_url }}"></script>
<script src="{{ '/static/js/jquery-ui.min.js' | relative_url }}"></script>
<script src="{{ '/static/js/moments.js' | relative_url }}"></script>
<script src="{{ '/static/js/jquery.number.js' | relative_url }}"></script>
<script src="{{ '/static/js/jquery.bpopup-min.js' | relative_url }}"></script>
<script src="{{ '/static/js/article-hide.js' | relative_url }}"></script>
<script src="{{ '/static/js/common/sha256.js' | relative_url }}"></script>
<script src="{{ '/static/js/datatables.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/buttons.html5.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/buttons.print.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/dataTables.button.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/jszip.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/vfs_fonts.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/jquery.slimscroll.min.js' | relative_url }}"></script>
<script src="{{ '/static/v2/js/common.js' | relative_url }}"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('[data-calendar-id]').forEach(function (el) {
      el.addEventListener("click", function () {
        alert("예약 상세 팝업 예시입니다: " + el.getAttribute("data-calendar-id"));
      });
    });
  });
</script>
